
@import 'variables.scss';
@import 'initial.scss';
@import 'header.scss';
@import 'summary.scss';



//fonts
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Hanken Grotesk", sans-serif;
    font-size: 18px;
    
    @media (min-width: 740px){
        background-color: $Pale-blue;
        position: relative;
        top: 240px;
    }
}

//nesting
.main-container{
    width: 375px;
    margin: auto;
    
    @media (min-width: 740px){
        width: 615px;
        height: 430px;
        display: flex;
        justify-items: center;
        flex-direction: row;
        border: 1px solid $Pale-blue;
        border-radius: 37px;
        background-color: $White;
    }
}